<div class="contenedorLogin">
  <div class="card">
    <div class="card-body">
      <h3>Bienvenido {{ user.usuario }}</h3>
      <h4>{{ user.cargo }}</h4>
      <a href="/logout">Cerrar Sesion</a>
    </div>
  </div>
</div>