<section class="content-signin">
  <div class="form-box">
    <form action="/signin" method="post">
      <h2>Login</h2>
      <div class="inputbox">
        <i class="bi bi-envelope"></i>
        <input type="email" name="usuario" required>
        <label for="">Email</label>
      </div>
      <div class="inputbox">
        <i class="bi bi-lock"></i>
        <input type="password" name="contra" required>
        <label for="">Contraseña</label>
      </div>
      <div class="inputbox">
        <i class="ri-team-fill login-group"></i>
        <input type="text" name="cargo" required>
        <label for="">Cargo</label>
      </div>
      <button class="sesion">Iniciar Sesion</button>
      <div class="register">
        <p>No tienes cuenta? <a href="/signup">Registrate</a></p>
      </div>
    </form>
  </div>
</section>